# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# Arduino / PlatformIO build files
# -------------------------
.pio/
build/
*.elf
*.hex
*.bin

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Temporary / backups
# -------------------------
*~
*.bak

